/*图标*/
@font-face {
  font-family: 'iconfont';  /* project id 870868 */
  src: url('//at.alicdn.com/t/font_870868_dcseeoreua.eot');
  src: url('//at.alicdn.com/t/font_870868_dcseeoreua.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_870868_dcseeoreua.woff') format('woff'),
  url('//at.alicdn.com/t/font_870868_dcseeoreua.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_870868_dcseeoreua.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box !important;
}
body{
	color: #262626;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.display_hidden{
	display: none;
}
.display_block{
	display: block;
}
ul,li{
	list-style: none;
}
.tooltip-inner{
	width: 120px;
}
.worksmain{
	width: 1200px;
	margin: 0px auto;
	margin-top: 30px;
}
/*媒体查询*/
@media (max-width: 1200px) {
	
	.worksmain{
		width:990px !important;
	}
	
	.worksmain_main{
		width:744px !important;
	}
	
	.books_info{
		width:240px !important;
	}
	
	.worksmain_main_head .head_right>span{
		display: none;
	}
	
	.fremainhead{
		width: 990px !important;
	}
	.fremaintime{
		width: 990px !important;
	}
	.fremaintime_major_l{
		width: 744px !important;
	}
	
	.fremaintime_major_l .book_info_major{
		width: 360px !important;
	}
} 
.worksmain a{
	cursor: pointer;
}
.worksmain a:link,.worksmain a:visited{
	text-decoration: none;
}
.worksmain a:hover{
	color: #ed4259;
	text-decoration: none;
}
/*workmain左侧*/
.worksmain_aside{
	width: 216px;
	margin-right: 30px;
	font-size: 12px;
}
.worksmain_aside a{
	color: #262626;
}
.worksmain_aside_title{
	width: 216px;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #ebebeb;
}
.worksmain_aside_title ul li{
	list-style: none;
	width: 60px;
	text-align: center;
}
.worksmain_aside_title_select{
	border-top: 2px solid #ed4259;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	background: #FFFFFF;	
	height: 29px;
	line-height: 27px;
	font-weight: bold;
}
.worksmain_aside_title_select a{
	color: #ed4259;
}
.worksmain_aside_title_select a:hover{
	color: #ed4259;
}
.worksmain_aside_selected{
	margin: 15px auto;
	border-bottom: 1px solid #ebebeb;
}
.worksmain_aside_selected p{
	margin-bottom: 10px;
	color: #262626;
}
.worksmain_aside_selected_item{
	margin-bottom: 15px;
	width: 100%;
}
.worksmain_aside_selected_item a{
	margin-bottom: 5px;
	display: inline-block;
}
.close-icon{
	font-size: 12px !important;
}
.select_type,.all_type{
	padding: 2px 4px;
	margin-right: 5px;
	background: #ed4259;
	border: 1px solid #ed4259;
	color: #FFFFFF !important;
}
.all_type{
	cursor: default !important;
}
.select_type:hover,.all_type:hover{
	color: #FFFFFF !important; 
}
.worksmain_aside_selected span{
	padding: 0px 4px;
	border: 1px solid #ed4259;
	background: #ed4259;
	color: #FFFFFF;
	display: inline-block;
}
.worksmain_aside_selectlist{
	margin-bottom: 15px;

}
.selectlist_per_li_selected{
	background: #333333;
	padding: 0px 4px;
	
}
.selectlist_per_li_selected a{
	color: #FFFFFF;
}
.selectlist_per_li_selected a:hover{
	color: #FFFFFF;
}
.worksmain_aside_selectlist_per:not(:last-of-type){
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px;
}
.worksmain_aside_selectlist_per ul{
	padding-left: 4px;
}
.worksmain_aside_selectlist_per ul li a{
	position: relative;
}
.worksmain_aside_selectlist_per ul .more_type a{
	color: #3f5a93;
}
.worksmain_aside_selectlist_per ul .more_type a:hover{
	color: #2972cc;
}
.li_down{
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	z-index: 2;
	border-color: transparent transparent #f7f6f2 transparent;
}
.li_down_list{
	width: 100%;
	border-radius: 3px;
	/*border: 1px solid #666666;*/
	background: #f7f6f2;
	padding: 10px;
	margin-top: 5px;
	z-index: 1;
}
.li_down_list p a{
	padding-right: 10px;
}
.li_down_list_per>ul:not(:last-of-type){
	margin-bottom: 10px;
}

.main-nav-wrap .main-nav li a:hover{
	text-decoration: none;
}

/*workmain主要部分*/
.worksmain_main{
	width: 954px;
}

.worksmain_main_head{
	width: 100%;
	padding: 0px 12px;
	background: #f7f6f2;
	border-radius: 0px !important;
	height: 40px;
	min-height: 40px !important;
	font-size: 12px;
	color: #A6A6A6;
	box-sizing: border-box !important;
}
.worksmain_main_head ul li{
	line-height: 38px;
	padding: 0px;
}
.worksmain_main_head ul li a{
	color: #a6a6a6;
	padding: 4px 12px;
}
.worksmain_main_head ul li .s_down{
	font-size: 12px !important;
}
.head_select a{
	font-weight: bold;
}
.head_select .s_down{
	font-size: 12px !important;
}
.head_select>a,.head_select .s_down{
	color: #ed4259 !important;
}
.head_select>a>.caret{
	color: #a6a6a6;
}
.dr_head{
	position: relative;
}
.dr_head>a{
	padding: 4px 12px 4px 12px;
	border: 1px solid transparent;
	background: #FFFFFF;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.dr_head>a>.caret{
	margin-right: 8px;
}
.dr_detail{
	position: absolute;
	border: 1px solid transparent;
	background: #FFFFFF;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	top:32px;
}
.dr_detail li:hover{
	background: #F7F7F7;
}
.dr_detail li a{
	padding: 3px 12px;
}
.dr_detail li:hover a{
	color: #262626;
}
.checkbox-book input{
	vertical-align: text-bottom;
	cursor: pointer;
}
.checkbox-book label{
	padding-left: 5px;
	color: #666;
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
}
.checkbox-book label:hover,{
	color: #262626;
}
.head_right{
	line-height: 38px;
	vertical-align: top;
}
.head_right em{
	padding: 0px 10px;
}
.head_right_view{
	display: inline-block;
	vertical-align: top;
}
.head_right a{
	color: #A6A6A6;
	cursor: pointer;
}
.head_right a:hover{
	color: #666;
}
.head_right_view_selected{
	color: #262626 !important; 
}


.worksmain_main_books{
	width: 100%;
}
.worksmain_main_books ul li{
	margin-bottom: 20px;
}
.books_img{
	width: 102px;
	height: 136px;
	overflow: hidden;
	margin-right: 16px;
}
.books_img img{
	width: 102px;
	height: 136px;
	transition: transform 1s;
}
.books_img img:hover{
	transform: scale(1.1,1.1);
} 
.books_info{
	width: 344px;
}

.books_info>h4{
	margin-top: 5px;
	margin-bottom: 8px;
	padding: 0px;
	font-size: 18px;
	height: 24px;
}
.books_info>h4 a{
	color: #262626;
}
.books_info_author{
	color: #a6a6a6;
	font-size: 12px;
	vertical-align: middle;
	padding: 2px 0px;
}
.books_info_author a,.books_info_author span{
	color: #a6a6a6;
	padding: 0px 5px;
}
.books_info_intro{
	height: 48px;
	width: 100%;
	line-height: 24px;
	overflow: hidden;
	color: #666666;
	margin-bottom: 8px;
	font-size: 14px;
}
.books_info_words{
	font-size: 12px;
	color: #a6a6a6;
}

.worksmain_main_page_list ul li{
	height: 24px;
	color: #262626;
	font-size: 14px;
}
.worksmain_main_page_list ul li a{
	padding: 2px 7px;
	color: #262626;
	height: 22px;
	border: 1px solid #FFFFFF;
}
.worksmain_main_page_list ul li a:hover{
	border: 1px solid #ed4259;
}
.a_disabled{
	pointer-events: none;
	opacity: 0.5;
}
.page_list_thispage{
	/*height: 24px !important;*/
	padding: 3px 8px !important;
	background: #ed4259;
	color: #FFFFFF !important;
}
.worksmain_main_page_search input{
	width: 40px;
	height: 22px;
	margin-right: 10px;
	text-align: center;
	border: 1px solid #f2f2f2;
}
.worksmain_main_page_search a{
	padding: 2px 7px;
	color: #262626;
	height: 22px;
	border: 1px solid #f2f2f2;
}
.worksmain_main_page_search a:hover{
	border: 1px solid #ed4259 !important;
}


/*列表模式*/
.main_books_list table{
	margin-bottom: 40px;
}
.main_books_list table thead {
	color: #262626;
}
.main_books_list em{
	font-style: normal;
}
.main_books_list table tbody tr td{
	border-bottom: 1px solid #E6E6E6;
}
.main_books_list table tbody tr td{
	height: 40px;
}
.main_books_list table tbody tr:hover{
	background: #f7f6f2;
}
.td_booktype,.td_bookname,.td_newsection{
	font-size: 14px;
}
.td_booktype a{
	color: gray;
}
.td_bookname a,.td_newsection a,.td_author a{
	display: block;
}
.td_bookname a{
	color: #262626;
}
.td_newsection a{
	color: #666666;
}
.td_newsection a:hover{
	color: #262626;
}
.td_bookwords{
	color: gray;
}
.td_author a{
	color: gray;
}
.td_author a:hover{
	color: #262626;
}
.td_bookdate{
	color: #666666;
}


/*free页面css*/
.fremainhead{
	width: 1200px;
	margin: 20px auto 0px auto;
}
.fremainhead ul{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;
}
.fremainhead ul li{
	cursor: pointer;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: #a6a6a6;
	width: 130px;
	font-family: fantasy;
	font-weight: bold;
	padding: 0px;
}
.fremainhead_selected{
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-top: 2px solid #ed4259;
	color: #ed4259 !important;
	width: 128px !important;
	height: 39px;
	background: #FFFFFF;
	margin-bottom: -1px;
}
.fremaintime{
	width: 1200px;
	margin: 0px auto;
}
.fremaintime_banner{
	height: 160px;
	background-size: cover;
	background: url(../img/img_slin/free_banner.png) no-repeat;
	position: relative;
	margin-bottom: 40px;
}
.fremaintime_banner_cd{
	position: absolute;
	top: 55px;
	left: 342px;
}
.fremaintime_banner_cd span{
	width: 60px;
	height: 60px;
	font-size: 24px;
	text-align: center;
	margin-right: 10px;
	display: block;
	float: left;
	color: #FFFFFF;
}

.fremaintime_major a:hover{
	color: #ed4259;
	text-decoration: none;
}
.fremaintime_major_l{
	width: 954px;
}
.fremaintime_major_l ul li{
	height: 162px;
	
}
.fremaintime_major_l ul li:not(:first-of-type){
	border-top: 1px solid #e6e6e6;
}
.fremaintime_major_l .books_img{
	position: relative;
}
.books_img_grade{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 14px;
	padding: 0px 3px;
	border-radius: 0px 5px 0px 0px;
	background: #ed4259;
	color: #FFFFFF;
}
.fremaintime_major_l .book_info_major{
	width: 542px ;
}
.info_major_update a{
	color: #3f5a93;
}
.info_major_update a:hover{
	color: #2972cc;
	text-decoration: none;
}
.info_major_update em{
	padding: 0px 5px;
}
.info_major_update span,.info_major_update em{
	color: #b5b5b5;
}
.book_info_right{
	width: 224px;
	height: 136px;
}
.book_info_right_price{
	padding-top: 35px;
}
.book_info_right_price p{
	font-size: 18px;
	line-height: 18px;
	color: #262626;
	margin-bottom: 0px;
}
.book_info_right_price s{
	font-size: 12px;
	color: #A6A6A6;
}
.book_info_right_cart{
	margin-top: 15px;
}
.book_info_right_cart a{
	display: inline-block;
	width: 98px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
}
.book_info_right_cart .f_read{
	color: #FFFFFF;
	margin-right: 20px;
	background: #bf2c24;
	border: 1px solid #bf2c24;
}
.book_info_right_cart .f_read:hover{
	color: #FFFFFF;
	background: #ed4259;
	border: 1px solid #ed4259;
}
.book_info_right_cart .a_book{
	color: #3f5a93;
	border: 1px solid #3f5a93;
}
.book_info_right_cart .a_book:hover{
	background: #f0f5ff;
	border: 1px solid #2972cc;
	color: #2972cc;
}
.fremaintime_major_r{
	width: 216px;
}
.fremaintime_major_r_content{
	width: 216px;
}
.fremaintime_major_r_content h3{
	font-size: 18px;
	line-height: 21px;
	border-bottom: 1px solid #666;
	margin: 0px;
	padding-bottom: 5px;
	font-weight: bold;
	color: #262626;
}

.fremaintime_major_r_content ul li .books_img{
	width: 72px;
	height: 96px;
	margin-right: 12px;
	position: relative;
}
.fremaintime_major_r_content ul li .books_img img{
	width: 72px;
	height: 96px;
}
.fremaintime_major_r_content .book_info_aide {
	width: 130px;
	padding-top: 5px;
}
.fremaintime_major_r_content .book_info_aide h4{
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	height: 20px;
}
.fremaintime_major_r_content .book_info_aide .book_info_aide_intro{
	font-size: 12px;
	height: 40px;
	line-height: 20px;
	margin: 0px;
}
.books_info_author .authoricon{
	font-size: 12px;
}
.fremaintime_major_r_content ul li{
	height: 96px;
	width: 216px;
	padding: 15px 0px;
}
.fremaintime_major_r_content ul li:not(:last-of-type){
	border-bottom: 1px solid #e6e6e6;
}


/*rank页面*/
.ranklist{
	width: 100%;
}
.ranklist ul li a{
	font-size: 14px;
}
.ranklist .ranktoright{
	font-size: 12px;
	color: #ed4259;
	font-weight: bold;
	padding-left: 2px;
}
.ranklist h4{
	font-size: 14px;
	font-weight: bold;
}
.rank_act a{
	color: #ed4259;
	font-weight: bold;
}
.ranklist_top {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 15px;
}
.ranklist_all li{
	margin-bottom: 10px;
}
