*{margin: 0px;padding: 0px;}
ul{list-style-type: none;}
.hidden{
	display: none;
}
header{
	height: 99px;
	border-bottom: 1px solid #DFDFDF;
}
.box-center{
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px !important;
}
@media (max-width: 1200px){
.box-center {
    width: 990px;
    margin: 0 auto;
}
}
.hd-logo{
	padding-top: 22px;
}
.hd-logo a{
	display: block;
	float: left;
	width: 218px;
	height: 57px;
	background: url(../img/zm-img/loginlogo.png) no-repeat;
}
.login-main{
	padding: 100px 0;
	min-height: 430px;
}
.login-lf{
	width: 534px;
	height: 400px;
	float: left;
	margin-left: 110px;
	margin-right: 78px;
}
@media (max-width: 1280px){
.login-lf {
    margin-left: 0;
    margin-right: 50px;
}
}
.login-lf img{
	width: 534px;
	height: 400px;
}
.login-rg{
	float: left;
	width: 398px;
	min-height: 400px;
	background: white;
	border: 1px solid #E6E6E6;
}
.login-tap{
	width: 322px;
	height: 45px;
	margin: 0 auto;
	border-bottom: 2px solid #E6E6E6;
	zoom: 1;
}
.login-tap ul{
	text-align: center;
	width: 101%;
}
.login-tap ul li{
	float: left;
	width: 108px;
	height: 45px;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}
.font1{
	font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
	font-weight: 400;
}
.li-act{
	color: #1A1A1A;
	border-bottom: 2px solid #BF2C24;
}
.login-box{
	position: relative;
	min-height: 295px;
	height: 353px;
	padding: 40px 38px 18px 38px;
}
/*输入登录*/
.zh-login{
	margin-bottom: 14px;
}
.login-box dd{
	width: 100%;
	height: 44px;
	border: 1px solid #E6E6E6;
}
.login-box dd input{
	height: 42px;
	width: 280px;
	padding: 7px 0;
	border: none;
	outline: none;
}
.login-box dd img{
	vertical-align: middle;	
}
.login-box dd:last-child{
	margin-top: 16px;
}
.img{
	width: 38px;
	height: 42px;
	float: left;
}
.login-common {
	font-family: "PingFangSC-Regular", "-apple-system", Simsun;
	font-size: 12px;
}
.login-check{
	float: left;	
	cursor: pointer;	
	color: #666;
	padding-left: 20px;
	background: url(../img/zm-img/lgcheck1.png) no-repeat 0px 1px;
}
.login-check-hover{
	background: url(../img/zm-img/lgcheckhv.png) no-repeat 0px 1px;
}
.login-check-act{
	background: url(../img/zm-img/lgcheck.png) no-repeat 0px 1px;
}
.login-common .p{
	height: 23px;
	margin-bottom: 14px;
}
.login-common .p a{
	float: right;
	color: #000000;
}
.login-common .p a:hover{
	text-decoration: none;
	color: #ed4259;
}
.btnlogin{
	border: none;
	color: white;
	width: 100%;
	height: 40px;
	background-color: #BF2C24;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
}
.reg{
	text-align: center;
	font-size: 12px;
	margin-top: 6px;
}
.reg a:link,.reg a:visited{
	color: #000000;
	text-decoration: none;
}
.reg a:hover{
	color: #ED4259;
	text-decoration: none;
}
.ui-select{
	height: 40px;
	width: 84px;
	float: left;
	vertical-align: middle;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}
.ui-select-button:link,.ui-select-button:visited{
	color: #4C5161;
	text-decoration: none;
	display: block;
	line-height: 24px;
	padding: 9px 9px 9px 13px;
	border: none;
	background-color: #fff;
}
.ui-select-button:hover{
	color: #4C5161;
	text-decoration: none;
}
.active > .ui-select-button{
	border-radius: 4px 4px 0 0;
}

.fenge{
	float: left;
	padding: 7px 5px;	
}
.txtphone{
	float: left;
	width: 210px !important;
	padding-left: 13px;
}
input::-webkit-input-placeholder{
	color:darkgrey;
}

.ui-select-datalist{
	display: none;
	width: 160px;
	max-height: 200px;
	position: absolute;
	overflow: auto;
	top: 42px;
	left: -1px;
	border: 1px solid #E6E6E6;
	background-color: #fff;
}
.ui-select-datalist-li{
	color: #333;
	display: block;
	line-height: 20px;
	padding: 9px 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.ui-select-datalist > .selected{
	background-color: #FFF1F3 !important;
}
.phone-login dd:last-child{
	border: none!important;
}
.txtcode{
	width: 198px!important;
	border: 1px solid #E6E6E6 !important;	
}
.txtcode-null{
	width: 198px!important;
	border: 1px solid #ED4259 !important;	
}
.phone-login input{
	padding-left: 13px !important;
}
.send-code:link,.send-code:visited{
	display: block;
	text-decoration: none;
	border: 1px solid #E6E6E6;
	width: 116px;
	text-align: center;
	float: right;
	color: #2E9DE7;
	height: 42px;
	line-height: 42px;
}
.send-code:hover{
	text-decoration: none;
}
.other-way{
	text-align: center;
	height: 24px;
	margin-bottom: 10px;
}
.other-way a{
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	margin-left: 25px;	
}
.other-way a:first-child{
	margin-left: 0 !important;
}
.more-way{
	text-align: center;
}
.more-btn:link,.more-btn:visited{
	color: #999;
	text-decoration: none;
	font-size: 12px;
}
.more-btn:hover{
	color: #BF2C24;
}
.login-mode-switch{
	position: absolute;
	width: 74px;
	height: 74px;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.scan{
	background: url(../img/zm-img/scan.png) no-repeat;
}
.scan2{
	background: url(../img/zm-img/scan2.png) no-repeat;
}
.scan-mode{
	display: none;
	margin-top: -10px;
	text-align: center;
}
.scan-mode h3{
	margin-bottom: 20px;
	font-size: 18px;
	font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
}
.qr-code{
	width: 136px;
	min-height: 136px;
	margin: 0 auto;
	margin-bottom: 0px;
}
.qr-code p{
	margin-top: 12px;
}
.qr-code p a:link,.qr-code p a:visited{
	color: #2E9DE7;
	text-decoration: none;
}
.qr-code p a:hover{
	text-decoration: none;
}
.saoma{
	position: absolute;
	width: 322px;
	height: 24px;
	z-index: 1000;
	background: url(../img/zm-img/lg1.png) no-repeat;
}
.qq-icon{
	text-align: center;
	padding: 10px 0 50px 0;
}
.qq-icon span{
	display: block;
	margin: 0 auto;
	width: 110px;
	height: 129px;
	background: url(../img/zm-img/qq.png) no-repeat;
}
.login-box2 p{
	text-align: center;
	color: #A6A6A6;
	font-size: 16px;
	margin-bottom: 20px;
}
.login-box2 input{
	font-size: 14px !important;
}
.wx-code{
	text-align: center;
}
.wx-img{
	width: 200px;
	margin: 15px auto;
	border: 1px solid #E2E2E2;
}
.wx-info p{
	text-align: center;
	margin-bottom: 0 !important;
}
.login-box2,.login-box3{
	display: none;
}
.footer{
	text-align: center;
	padding-bottom: 20px;
	background: #FAFAFA;
}
.footer p{
	margin-bottom: 0!important;
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	color: #A6A6A6;
	font-family: "PingFangSC-Regular", "-apple-system", Simsun;
}
.link{
	padding-top: 32px;
	margin-bottom: 10px;
}
.link a:link,.link a:visited{
	color: #666;
	font-size: 12px;
	margin-left: 15px;
	text-decoration: none;	
}
.link a:hover{
	text-decoration: none;	
	color: #ED4259;
}
.safety-box{
	padding-top: 20px !important;
}
.error-tip{
	position: absolute;
	display: none;
	top: 8px;
	width: 324px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	background: #FFE4E8;
	color: #ED4259;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.sidebar-scroll::-webkit-scrollbar
{
    width: 7px;
    height: 7px;
    background-color: #DDDDDD;
}
 
/*定义滚动条轨道 内阴影+圆角*/
.sidebar-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 7px;
    background-color: #AAAAAA;
}
 
/*定义滑块 内阴影+圆角*/
.sidebar-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #DDDDDD;
}